footer {
    background: #071629;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-items {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100px;
}