nav {
    padding: 10px;
    text-align: center;
    color: yellow;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}   

nav ul li a {
    text-decoration: none;
    color: yellow;
}

nav ul li a:hover {
    color: white;
}



/* General section styling */
.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./your-background-image.jpg');
    background-size: cover;
    color: white;
  }
  
  /* Content container for header */
  .content-container h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .tagline span {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .register-btn {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #b16ceb;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-btn:hover {
    background-color: #9447d1;
  }
  
  /* Learn section */
  .learn-section {
    margin-top: 60px;
  }
  
  .learn-section h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  .learn-section .highlighted-text {
    color: blueviolet;
    font-weight: bold;
  }
  
  .examples {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .examples div {
    text-align: center;
  }
  
  .examples img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .examples h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
  }
  
  .examples p {
    font-size: 0.9rem;
    color: #ccc;
  }
  